/* --- General --- */
body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    padding: 2em;
}

li {
    list-style: none;
    padding-bottom: 0.1em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

/* --- Header --- */
.title {
    font-size: 1.8em;
    font-weight: bold;
    text-align: center;
    margin: 0;
    padding: 0;
}

.subtitle {
    font-style: italic;
    text-align: center;
    margin: 0;
    padding: 0;
}

/* --- Contact --- */

#contact-informations {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 1em;
    row-gap: 5px;
}

#contact-informations .key {
    font-weight: italic;
    text-decoration: underline;
}

/* --- Sections --- */
.section-title {
    font-size: 1.3em;
    font-weight: bold;
    margin-bottom: 0.4em;
    width: 100%;
    border-bottom: 1px solid black;
}

.section-item {
    margin-bottom: 1em;
}

.item-title {
    font-size: 1.1em;
    font-weight: bold;
    margin: 0.2em 0;
}

.item-subtitle {
    font-style: italic;
    margin-bottom: 0.8em;
}

.double-column {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 1em;
}

.split {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

.row-title {
    text-decoration: underline;
    text-align: right;
}

.row-title, .row-content {
    margin-bottom: 0.2em;
}

/* --- Languages --- */
#languages .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

#languages p {
    margin: 0.2em;
}

/* --- Skills --- */
#skills .container {
    display: grid;
    grid-template-columns: 3fr 2fr;
}